[Desktop Entry]
Version=1.0
Name=Wbrave
Comment=Launch Brave Browser inside Docker container (Wbrave)
Exec=bash -c 'docker exec -dit Wroot brave-browser --no-sandbox'
Icon=brave.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true

