[Desktop Entry]
Version=1.0
Name=Wdev
Comment=Launch VSCode inside Docker container (Wdev)
Exec=bash -c 'docker exec -dit Wroot code --no-sandbox --user-data-dir=\"/root/.config/Code\"'
Icon=/home/yzeybek/Wroot/assets/vscode.png
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true

